<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= symbolink_to :show, user %></td>
    <td><%= symbolink_to :edit, edit_user_path(user), title: 'Edit' %></td>
    <td><%= symbolink_destroy user, data: { confirm: 'Are you sure?' }, title: 'Destroy' %></td>
  </tr>
<% end %>
</table>

<br />

<%= symbolink_to :add, new_user_path, title: 'New user' %>
